
#calendar{
    margin-top: 10px;
    margin-bottom: 20px;
}

#calendar * {
	margin: 0px;
}

#calendar .fc-day-header {
	padding: 8px 0px;
}

.fc-axis {
	font-size: 10pt;
	padding: 10px;
}

.fc button {
	height: 1.9em;
}

.fc table tr {
	height: 40px;
}

.fc-state-default {
	background: #F0F0F0;
}
.fc-event{
	padding: 6px;
	-webkit-transition: all 0.2s;
	-moz-transition:    all 0.2s;
	-ms-transition:     all 0.2s;
	-o-transition:      all 0.2s;
	transition:         all 0.2s;
}
.fc-title {
	font-weight: bold;
}
.fc-content-skeleton > table {
  margin: 0;
  border-spacing: 0px;
  border-collapse: collapse;
  padding: 0px;
  border: none;
  box-shadow: none;
}
.fc-content-skeleton > table td {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

#calendar .fc-today {
  background-color: #FFF8F1;
}

#calendar {
  position: relative;
}

#calendar #loading {
  position: absolute;
  top: 45%;
  font-weight: bold;
  text-align: center;
  margin: 0px 20%;
  padding: 5% 10%;
  width: 40%;
  background: #CCCCCC;
  font-size: 14pt;
  z-index: 999;
}