<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>{{ site.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
    <link rel="stylesheet" type="text/css" href="/css/page.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/javascript/smooth-scroll.js"></script>
    <script src="/javascript/highlight-row.js"></script>
    <!-- Necessary for office hours calendar (FullCalendar v2). -->
    <link rel="stylesheet" type="text/css" href='/javascript/fullcalendar/fullcalendar.css'>
    <script src='/javascript/fullcalendar/lib/moment.min.js'></script>
    <script src='/javascript/fullcalendar/fullcalendar.min.js'></script>
    <script src='/javascript/fullcalendar/gcal.js'></script>
    <!-- Our local customizated settings for FullCalendar. -->
    <script src="/javascript/fullcalendar-settings.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/fullcalendar-customization.css">
    <link rel="shortcut icon" href="/images/icons/favicon.ico" type="image/vnd.microsoft.icon" />
</head>

<body>
    <header>
        <a id="logo" href="/"> <img src="/images/shield.png">
            <h1><b>COS</b>316</h1>
        </a>
        <ul id="links">
            <li><a href="/">Home</a></li>
            <li><a href="/lectures">Lectures</a></li>
            <li><a href="/precepts">Precepts</a></li>
            <li><a href="/assignments">Assignments/PSETS</a></li>
            <!--li><a href="/calendar">Calendar</a></li-->
        </ul>
    </header>

    {%- if page.title -%}
    <h1>{{ page.title }}</h1>
    {%- endif -%}
    {{ content }}

</body>

</html>
